$black: #000;
$white: #fff;
$paragraph-color: #4F4F4F;

$textShadow: 0px 4px 4px rgba(0, 0, 0, 0.25);


$desktop__1200-bp: 1199.5px;
$tablet__992-bp: 991.5px;
$tablet__768-bp: 768px;
$mobile__575-bp: 575px;
$mobile__500-bp: 500px;
$mobile__440-bp: 440px;
$mobile__400-bp: 400px;