.form {
    font-family: 'Ubuntu', sans-serif;
}

.order__form {
    width: 50%;

    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;

    @include breakpoint ($tablet__992-bp) {
        width: 100%;
        align-items: flex-start;
        justify-content: start;

        margin-right: 36px;
        margin-left: 42px;
    }

    @include breakpoint ($tablet__768-bp) {
        margin: 0;
    }
}

.order__form-input {
    width: 360px;
    padding: 11px 0 11px 16px;
    
    border: 1px solid $black;
    border-radius: 5px;

    color: #707070;
    font-weight: 400;
    font-size: 18px;

    &--md {
        margin: 32px 0;
    }

    @include breakpoint ($tablet__992-bp) {
        width: 296px;
    }

    @include breakpoint ($tablet__768-bp) {
        width: 95%;
    }

    @include breakpoint ($mobile__400-bp) {
        padding: 9px 0 9px 15px;
        font-size: 13px;

        &--md {
            margin: 24px 0;
        }
    }
}

.order__form-btn {
    width: 360px;

    margin-top: 32px;
    padding: 15px 0;

    background-color: $black;
    color: $white;
    border-radius: 5px;
    border: 1px solid $black;
    
    font-family: 'Jost', sans-serif;
    font-size: 18px;
    font-weight: 500;

    transition: .4s ease;

    &:hover {
        background-color: transparent;
        color: $black;
    }

    @include breakpoint ($tablet__992-bp) {
        width: 296px;
    }

    @include breakpoint ($tablet__768-bp) {
        width: 95%;
    }

    @include breakpoint ($mobile__400-bp) {
        padding: 9px 0;
        margin-top: 20px;
        font-size: 13px;
        font-weight: 500;
    }
}