.mobile__nav {
    display: none;
    
    @include breakpoint ($mobile__575-bp) {
        display: flex;
    }
}

.logo-line-black {
    height: 2px;
    width: 0%;
    background-color: $black;
    margin-left: 1.5px;

    transition: .4s ease;
}

.mobile__nav-wrapper {
    width: 100%;
    margin: 23px 10px 24px;

    display: flex;
    justify-content: space-between;

    position: relative;
    left: 0;

    @include breakpoint ($mobile__440-bp) {
        margin: 12px 0 16px;
    }
}