<footer class="footer">
    <div class="container">
        <div class="footer__wrapper">
            <div class="footer__information">
                <!-- Logo -->
                <div class="footer__logo">
                    <img class="logo-image" src="/assets/images/logo/logo.png" alt="logo">
                    <h1 class="footer__logo-heading">Bricket</h1>
                </div>
                <!-- /logo -->
                
                <p class="footer__information-paragraph">
                    Такой сырец не требует сушки. Его можно обжигать сразу после формования. 
                    Сырьем для кирпича, производи.
                </p>
            </div>

            <div class="footer__navigation">
                <nav class="footer__nav">
                    <ul class="footer__ul">
                        <li class="footer__item">
                            <a href="#">Главная</a>
                        </li>
                        <li class="footer__item">
                            <a href="#">О нас</a>
                        </li>
                        <li class="footer__item">
                            <a href="#">Заказать</a>
                        </li>
                    </ul>

                    <div class="footer__nav-contacts">
                        <a class="footer__nav-contacts-item" href="#">+7 435 955-32-45</a>
                        <a class="footer__nav-contacts-item" href="https://t.me/wafelT">t.me/wafelT</a>
                    </div>
                </nav>
            </div>

            <div class="footer__contacts">
                <h2 class="footer__contacts-heading">Оставьте свой номер:</h2>
                <p class="footer__contacts-paragraph">
                    мы вам обезательно перезвоним
                    в удобное для вас время</p>
                <form action="/" class="form footer__form">
                    <input class="footer__contacts-input" type="text" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Телефон...'" placeholder="Телефон...">
                    <button class="footer__contacts-btn">Отправить</button>
                </form>
            </div>
        </div>
    </div>
</footer>
