<header class="header">
    <div class="container">
        <nav class="nav">
            <ul class="nav__ul">
                <li class="nav__item">
                    <a href="#">Главная</a>
                </li>

                <li class="nav__item">
                    <a href="#">О нас</a>
                </li>
                
                <li class="nav__item">
                    <a href="#">Заказать</a>
                </li>
            </ul>

            <ul class="nav__ul nav__ul--dk">
                <li id="contactBtn" class="nav__item nav__item--contact">
                    <a>Контакты</a>
                    <svg width="7" height="4" viewBox="0 0 7 4" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M7 0L3.47375 4L0 0H7Z" fill="black"/>
                    </svg>
                </li>

                <div class="nav__contact nav__contact--dk none">
                    <a  href="" class="nav__contact-item nav__contact-item--ft">
                        +7 435 955-32-45
                    </a>
                    <a  href="" class="nav__contact-item">
                        t.me/wafelT
                    </a>
                </div>
            </ul>
        </nav>

        <div class="mobile__nav">
            <div class="mobile__nav-wrapper">
            <!-- Logo -->
                <div class="meeting__content-logo">
                    <img class="logo-image logo-image--mb" src="/assets/images/logo/logo.png" alt="logo">
                    <h1 class="logo-heading logo-heading--mb">Bricket</h1>
                </div>
            <!-- /logo -->

                <button id="burger" type="menu" class="burger">
                    <span class="burger__line"></span>
                    <span class="burger__line"></span>
                    <span class="burger__line burger__line--move"></span>
                </button>
            </div>
        </div>
    </div>
</header>
