<section class="meeting__screen">
    <div class="container container--screen">
        <div class="meeting__content">
            <!-- Logo -->
            <div class="meeting__content-logo meeting__content-logo--dk">
                <img class="logo-image" src="/assets/images/logo/logo.png" alt="logo">
                <h1 class="logo-heading">Bricket</h1>
            </div>
            <!-- /logo -->
    
            <h1 class="meeting__content-main">
                Производимый качественые и надёжные <br>кирпичи для ваших проектов
            </h1>
    
            <p class="meeting__content-paragraph">
                Повседневная практика показывает, что сложившаяся
                структура организации позволяет выполнять важные
                задания по разработке форм развития. Значимость
                этих проблем настолько очевидна, что реализация
                намеченных плановых заданий требуют определения и уточнения
                существенных финансовых 
            </p>
        </div>
    </div>
    <div class="overlay"></div>
</section>