<aside id="sidebar" class="sidebar none">
    <div class="sidebar-wrapper">
        <nav class="nav nav--sidebar">
            <ul class="nav__ul nav__ul--sidebar">
                <li class="nav__item nav__item--sidebar">
                    <a href="#">Главная</a>
                </li>

                <li class="nav__item nav__item--sidebar">
                    <a href="#about">О нас</a>
                </li>
                
                <li class="nav__item nav__item--sidebar">
                    <a href="#order">Заказать</a>
                </li>
            </ul>

            <ul class="nav__ul nav__ul--sidebar">
                <li class="nav__item nav__item--sidebar">
                    <a href="#" >Контакты</a>
                    <svg width="7" height="4" viewBox="0 0 7 4" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M7 0L3.47375 4L0 0H7Z" fill="black"/>
                    </svg>
                </li>

                <li class="nav__contact">
                    <a  href="" class="nav__contact-item nav__contact-item--ft">
                        +7 435 955-32-45
                    </a>
                    <a  href="" class="nav__contact-item">
                        t.me/wafelT
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</aside>